<div class="row">
    <div class="col-md-3">
        <p class="lead">Category</p>
        <div class="list-group">
            <a href="#" class="list-group-item">Bad Monkey</a>
            <a href="#" class="list-group-item">Spider Monkey</a>
            <a href="#" class="list-group-item">Rat</a>
        </div>
    </div>
    <div class="col-md-9">
        <div class="row js-productListView-list">

        </div>
    </div>
</div>
